CLAUDE_CODE_PORT=3000
CLAUDE_CODE_MODEL=opus-4-8
CLAUDE_CODE_EFFORT=high
RESUME_MASTER_PATH=~/.applymate/resume-master.tex
EXPERIENCE_CORPUS_PATH=~/.applymate/experience.yaml
SQLITE_PATH=~/.applymate/app.db
